In [1]:
s = 'simplilearn'
for i in s:
    print(i)

s
i
m
p
l
i
l
e
a
r
n

In [2]:
s = 'simplilearn'
for i in s:
    print(i, end="*")

s*i*m*p*l*i*l*e*a*r*n*

In [3]:
# use of for loops in a list
programming = ["java","python","r","ruby"]
for iter in programming:
    print(iter)

java
python
r
ruby

In [4]:
#find the average of the list of numbers
list_num = [20,3,45,56,78]
sum = 0
for i in list_num:
    sum = sum + i
print("sum=", sum)
print("Average=", sum/len(list_num))

sum= 202
Average= 40.4

In [5]:
# for loop using a Tuple
num = (30,45,60,50,70)
sum = 0
for i in num:
    sum = sum + i
print(sum)

255

In [6]:
# range function in python
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
for i in range(0, 10, 2):
    print("Display values with a step size of 2:", i)

Display values with a step size of 2: 0
Display values with a step size of 2: 2
Display values with a step size of 2: 4
Display values with a step size of 2: 6
Display values with a step size of 2: 8

In [12]:
# program to print table of a given number
n = int(input("Enter the number "))
for i in range(1,11):
    mul = n*i
    print(n,"*",i,"=",mul)

Enter the number 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [14]:
# program to print table of a given number
n = int(input("Enter the number "))
for i in range(1,11):
    mul = n*i
    print(mul)

Enter the number 7
7
14
21
28
35
42
49
56
63
70

In [16]:
list2 = ['c++', 'java', 'r', 'HTML']
for i in range(len(list2)):
    print("Hello",list2[i])

Hello c++
Hello java
Hello r
Hello HTML

In [19]:
#nested for loop
compaines = ['mphasis','google','amazon']
for i in compaines:
    print("we will display each letter of "+i)
    for letter in i:
        print(letter)

we will display each letter of mphasis
m
p
h
a
s
i
s
we will display each letter of google
g
o
o
g
l
e
we will display each letter of amazon
a
m
a
z
o
n

In [20]:
# for loop with else clause
for i in range(0,10,3):
    print(i)
else:
    print("The loop has completed execution")

0
3
6
9
The loop has completed execution

In [22]:
#for loop using break
for i in range(0,11):
    if (i==8):
        break
    print(i)

0
1
2
3
4
5
6
7

In [23]:
#continue using for
for i in range (0,11):
    if(i==6):
        continue
    print(i)

0
1
2
3
4
5
7
8
9
10

In [24]:
# program to dispaly the total goals a player has scored
player_name = "Carmelo"
goals = {'edison' : 14,'Bernat': 3, 'Carmelo' : 7}
for player in goals:
    if player == player_name:
        print(goals[player])
        break
    else:
        print('No player with that name found.')

No player with that name found.
No player with that name found.
7

In [27]:
#cube of number
num = [2,5,4,3,7,8]
cube = []
for i in num:
    cube.append(i**3)
print(cube)

[8, 125, 64, 27, 343, 512]

In [26]:
#pattern printing
n = int(input("Enter the number of rows "))
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print()

Enter the number of rows 6
*
**
***
****
*****
******