In [1]:
for i in enumerate(['The', 'virat', 'is', 'a', 'worlds', 'greatest', 'bats man', '.']):
    print(i)

(0, 'The')
(1, 'virat')
(2, 'is')
(3, 'a')
(4, 'worlds')
(5, 'greatest')
(6, 'bats man')
(7, '.')

In [3]:
for key, value in enumerate(['The', 'virat', 'is', 'a', 'worlds', 'greatest', 'bats man', '.']):
    print(key,value)

0 The
1 virat
2 is
3 a
4 worlds
5 greatest
6 bats man
7 .

In [4]:
for key, value in enumerate(['The', 'virat', 'is', 'a', 'worlds', 'greatest', 'bats man', '.']):
    print(value, end=' ')

The virat is a worlds greatest bats man .

In [5]:
company = 'Simplilearn'
for i,j in enumerate(company):
    print(i, j)

0 S
1 i
2 m
3 p
4 l
5 i
6 l
7 e
8 a
9 r
10 n

In [6]:
company = 'Simplilearn'
for i in enumerate(company, start=10):
    print(i)

(10, 'S')
(11, 'i')
(12, 'm')
(13, 'p')
(14, 'l')
(15, 'i')
(16, 'l')
(17, 'e')
(18, 'a')
(19, 'r')
(20, 'n')

In [7]:
#Zip function
first = ['lionel', 'cristiano', 'Mohamed']
last = ['Messi', 'Ronaldo', 'Salah']
for i in zip(first, last):
    print(i)

('lionel', 'Messi')
('cristiano', 'Ronaldo')
('Mohamed', 'Salah')

In [9]:
first = ['lionel', 'cristiano', 'Mohamed']
last = ['Messi', 'Ronaldo', 'Salah']
num = [1,2,3,4,5,67,8,7]
for i in zip(first, last, num):
    print(i)

('lionel', 'Messi', 1)
('cristiano', 'Ronaldo', 2)
('Mohamed', 'Salah', 3)

In [10]:
from itertools import zip_longest
first = ['saha', 'wizard', 'reddy', 'chowdary']
last = ['naidu', 'rajput', 'velma']
for i in zip_longest(first, last):
    print(i)

('saha', 'naidu')
('wizard', 'rajput')
('reddy', 'velma')
('chowdary', None)

In [11]:
from itertools import zip_longest
first = ['saha', 'wizard', 'reddy', 'chowdary']
last = ['naidu', 'rajput', 'velma']
for i in zip_longest(first, last, fillvalue = 'Not defined'):
    print(i)

('saha', 'naidu')
('wizard', 'rajput')
('reddy', 'velma')
('chowdary', 'Not defined')

In [12]:
#built in function
a = abs(3.4)
print(a)

3.4

In [13]:
d =abs(-9.87)
print(d)

9.87

In [14]:
# len
list1 = ['I', 'N', 'D', 'I', 'A']
x = len(list1)
print(x)

5

In [15]:
#all
my_list = [0,1,0]
x = all(my_list)
x

False

In [16]:
# sum
my_list = [2,3,4,5]
s = sum(my_list)
s

14

In [17]:
# max and min
m1 = max(7, 10, 3, 12, 61, 40)
print(m1)

61

In [18]:
m2 = max({7, 90, 3, 150, 67, 44})
m2

150

In [19]:
m2 = min({7, 90, 3, 150, 67, 44})
m2

3

In [20]:
m4 = min({7, 90, 3, 150, 67, 44})
m4

3

In [21]:
#iter()
mylist = iter(['I', 'N'])
x = next(mylist)
x

'I'

In [22]:
mylist = iter(['I', 'N', 'D', 'I', 'A'])
x = next(mylist)
x

'I'

In [23]:
x = next(mylist)
x

'N'

In [24]:
#pow()
x1 = pow(3, 3)
x2 = pow(2, 4)
print(x1)
print(x2)

27
16

In [25]:
x = range(6)
for i in x:
    print(i)

0
1
2
3
4
5

In [26]:
x = range(40, 50, 2)
for n in x:
    print(n)

40
42
44
46
48

In [27]:
# round()
x = round(8.624275, 2)
print(x)

8.62

In [28]:
# sorted()
a = ["I", "N","D" ,"I", "A"]
x = sorted(a, reverse = True)
print(x)

['N', 'I', 'I', 'D', 'A']

In [29]:
a = [12, 50, 58, 67, 38, 5]
x = sorted(a, reverse = True)
print(x)

[67, 58, 50, 38, 12, 5]

In [31]:
#slice
a = ("S", "I", "M", "w", "R", "T", " y")
x = slice(5)
print(a[x])

('S', 'I', 'M', 'w', 'R')

In [34]:
# user defined funnction
def func1():
    print("hello my universe!")
func1()

hello my universe!

In [35]:
def hello():
    name = str(input("Enter your country name:"))
    print("Hello " + str(name))

In [36]:
hello()

Enter your country name:India
Hello India

In [37]:
def ft_to_cm(ft):
    centimeter = ft*30.48
    return centimeter

In [39]:
ft_to_cm(6)

182.88

In [41]:
def add(x, y):
    sum = x + y
    print(sum)

In [43]:
add(23, 34)

57

In [44]:
def multiply(x, y):
    product = x*y
    print(product)

In [45]:
multiply(34, 45)

1530

In [46]:
def absolute(x):
    if x >= 0:
        return x
    else:
        return -(-x)

In [47]:
absolute(-98)

-98

In [48]:
def factorial(x):
    if x==0:
        return 1
    else:
        return x * factorial(x-1)

In [49]:
factorial(98)

9426890448883247745626185743057242473809693764078951663494238777294707070023223798882976159207729119823605850588608460429412647567360000000000000000000000

In [50]:
def welcome(name = 'paul'):
    print('hello', name)

In [51]:
welcome()

hello paul

In [53]:
welcome('jhon')

hello jhon

In [54]:
def factorial(x):
    if x==0:
        return 1;
    else:
        return x * factorial(x-1)

In [55]:
factorial(7)

5040

In [59]:
def messsage(name1, name2, name3):
    print('hello', name1, ', please tell', name2, 'that', name3, 'is waiting')

In [64]:
messsage('Devisriprasad', 'Anirudh', 'Thaman')

hello Devisriprasad , please tell Anirudh that Thaman is waiting

In [65]:
# scope
ntdef func3():
    z = 7
    print(z)
func3()

7

In [75]:
z = 7
def func3():
    print(z)
func3()

7

In [77]:
z = 7
def fun4():
    global z
    z = z+1
    print(z)
fun4()

8

In [78]:
def welcome(*names):
    print('hello', names[0], ', ', names[1], ', ', names[2])

In [79]:
welcome('steve', 'joesph', 'jailer')

hello steve ,  joesph ,  jailer

In [89]:
pi = 3.14
def circleArea(radius):
    return pi*radius*radius
def sphereArea(radius):
    return 4*pi*radius*radius
def main():
    print('circle area with radius 15:', circleArea)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (627796163.py, line 10)