In [1]:
num = [2, 5, 10, 4, 50, 49]
for i in sorted(num):
    print(i)

2
4
5
10
49
50

In [2]:
num = [2, 5, 10, 4, 50, 49]
for i in sorted(num, reverse = True):
    print(i)

50
49
10
5
4
2

In [3]:
players = ['Messi', 'Ronaldo', 'Salah', 'Harry']
for i in sorted(players, reverse = True):
    print(i)

Salah
Ronaldo
Messi
Harry

In [6]:
d = {'f':1, 'b':4, 'a':3, 'c':2}
for i in sorted(d.items()):
    print(i)

('a', 3)
('b', 4)
('c', 2)
('f', 1)

In [8]:
d = {'f':1, 'b':4, 'a':3, 'c':2}
for i in sorted(d.keys()):
    print(i)

a
b
c
f

In [9]:
d = {'f':1, 'b':4, 'a':3, 'c':2}
for i in sorted(d.values()):
    print(i)

1
2
3
4

In [10]:
players = ['kohli', 'virat', 'rohith', 'dhoni', 'iyer']
for i in reversed(players):
    print(i)

iyer
dhoni
rohith
virat
kohli

In [12]:
animals = [{'name':'human being','age': 23},{'name': 'lion', 'age': 24},{'name':'elephant', 'age':45}]
for animals in filter(lambda i: i['age']%2 == 0, animals):
    print(animals)

{'name': 'lion', 'age': 24}

In [14]:
country = ['india', 'canda', 'Brazil', 'Japan', 'Israel']
while country:
    print(country.pop(-1))

Israel
Japan
Brazil
canda
india

In [15]:
num = 10
while num>0:
    num -=1;
    print(num)

9
8
7
6
5
4
3
2
1
0

In [ ]:
while True:
    num = int(input("Enter an integer: "))
    print("The product of", num, "multiplied by 5 is", 5 * num)

Enter an integer: 78
The product of 78 multiplied by 5 is 390
Enter an integer: 99959
The product of 99959 multiplied by 5 is 499795
Enter an integer: 90595050505
The product of 90595050505 multiplied by 5 is 452975252525

In [ ]:
for i in enumerate(["The", "virat", "is", "a", "good", "batsman", "in", "the", "world", "." ]):
    print(i)

In [ ]:
for i in enumerate(["The", "virat", "is", "a", "good", "batsman", "in", "the", "world", "." ]):
    print(key,value)